<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae nesciunt vitae odit labore reiciendis porro deserunt nihil dolore veniam, repellat iste quibusdam numquam magnam voluptates! Ratione rem tenetur eos nostrum.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam repellat nesciunt earum voluptas aliquid ullam, minima saepe! Animi reiciendis earum repudiandae atque expedita, optio corrupti veniam non consequuntur. Aliquid, quos!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero recusandae iusto officiis sit optio ratione modi ut omnis, doloribus hic tempora vitae error maxime facilis natus doloremque assumenda quae velit.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores perspiciatis quas distinctio illo nisi mollitia quibusdam debitis odit deleniti cumque adipisci eaque, dolorum quasi nostrum illum id soluta, a placeat.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>